<div class="mb-4">
    <a asp-controller="Car" asp-action="Index" class="btn btn-outline-secondary">
        ← Назад
    </a>
</div>

@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Автосалон "CarКарыч рулит"</h1>
    <p>Добро пожаловать в автосалон "CarКарыч рулит"!</p>
    <p>
        Мы рады предложить вам широкий ассортимент высококачественных автомобилей — от новейших моделей до подержанных машин на любой бюджет.
        Наш автосалон стремится обеспечить исключительный уровень обслуживания и комфортную атмосферу для всех посетителей.
    </p>
    <p>
        Если вы ищете новый автомобиль, нуждаетесь в помощи при выборе идеальной модели или хотите продать свой транспорт — мы готовы помочь.
        Наша команда профессионалов сделает всё возможное, чтобы вы нашли автомобиль, соответствующий вашим потребностям и предпочтениям.
    </p>
    <p>Изучите наш каталог и позвольте нам сопровождать вас на всех этапах покупки. Мы с нетерпением ждём возможности помочь вам уехать на машине вашей мечты!</p>

</div>
