<div class="mb-4">
    <a asp-controller="Car" asp-action="Index" class="btn btn-outline-secondary">
        ← Назад
    </a>
</div>

@{
    ViewData["Title"] = "Политика и условия";
}
<h1>@ViewData["Title"]</h1>



<p>
    В нашем автосалоне мы ценим прозрачность, доверие и удовлетворённость клиентов.
    Наша политика направлена на то, чтобы каждая сделка была максимально понятной и комфортной, обеспечивая вам лучший опыт.
</p>

<h5>Политика конфиденциальности</h5>
<p>
    Мы серьёзно относимся к вашей конфиденциальности. Вся личная информация, предоставленная вами при посещении нашего сайта или при взаимодействии с автосалоном, надёжно хранится и не подлежит разглашению.
    Мы никогда не продаём и не передаём ваши персональные данные третьим лицам без вашего согласия.
</p>

<h5>Политика возврата и возмещения</h5>
<p>
    Если вы приобрели у нас автомобиль и столкнулись с проблемами, у нас действует простая и понятная политика возврата и возмещения.
    Пожалуйста, ознакомьтесь с условиями возврата и гарантии, применимыми к каждому конкретному автомобилю. Наша цель — ваше полное удовлетворение после покупки.
</p>

<h5>Условия использования</h5>
<p>
    Пользуясь нашими услугами, вы соглашаетесь с нашими условиями. Они охватывают использование сайта, покупку автомобилей и сопутствующие действия.
    Пожалуйста, внимательно ознакомьтесь с условиями, чтобы понимать свои права и обязанности.
</p>

<p>
    Если у вас есть вопросы по поводу нашей политики, не стесняйтесь обращаться в службу поддержки.
    Мы всегда готовы помочь и обеспечить вам положительный опыт сотрудничества с нашим автосалоном.
</p>

